/*******************************************************************************
 *                                                                             *
 * ToggleButton  di Marco Sartini per il Consiglio dei Quattro                 *
 *                                                                             *
 ******************************************************************************/

.toggle-button {
    -fx-background-color: transparent;
   /* -fx-background-insets: 0 0 -1 0, 0, 1, 2;*/
   /* -fx-background-radius: 5, 5, 4, 3; */
    -fx-border-style: solid;
    -fx-border-color: transparent;
    -fx-border-width: 3 3 3 3;
   /* -fx-padding: 0.166667em 0.833333em 0.25em 0.833333em; /* 2 10 3 10 */
   -fx-padding: 0 0 0 0;
    -fx-text-fill: -fx-text-base-color;
    -fx-alignment: CENTER;
    -fx-content-display: LEFT;
}

.toggle-button:focused {
	/*nessun effetto*/
}

.toggle-button:hover {
    -fx-color: rgba(255,255,255,0.4);
    -fx-effect: innershadow(gaussian , rgba(255,255,255,0.4) , 127 , 1.0 , 0 , 0 );
    -fx-text-fill: -fx-text-base-color;
}

.toggle-button:armed {
    -fx-color: rgba(255,255,255,0.4);
    -fx-effect: innershadow(gaussian , rgba(255,255,255,0.3) , 127 , 1.0 , 0 , 0 );
    -fx-text-fill: -fx-text-base-color;
}

.toggle-button:selected {
    -fx-background-color: rgba(255,255,255,0.4);
    -fx-effect: innershadow(gaussian , rgba(255,255,255,0.3) , 127 , 1.0 , 0 , 0 );
    -fx-border-style: solid;
    -fx-border-color: #55a3f9;
    -fx-border-width: 3 3 3 3;
    -fx-text-fill: -fx-text-base-color;
}

.toggle-button:selected:focused {
    -fx-color: rgba(255,255,255,0.4);
    -fx-background-color: rgba(255,255,255,0.4);
    -fx-effect: innershadow(gaussian , rgba(255,255,255,0.4) , 127 , 1.0 , 0 , 0 );
    -fx-text-fill: -fx-text-base-color;
}

.toggle-button:disabled {
    -fx-opacity: /*-fx-disabled-opacity,*/ 1;
    -fx-text-fill: -fx-text-base-color;
}

.toggle-button:show-mnemonics > .mnemonic-underline {
    -fx-stroke: -fx-text-fill;
    -fx-text-fill: -fx-text-base-color;
} 